<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Przekątna ekranu:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.ScreenDiagonal</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Rozdzielczość</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.Resolution @ViewBag.Product.ResolutionUnit</div>
</div>
<br />
<div class="product-parameters-group ">
    <div class="float-start m-0 p-0">Typ matrycy:</div>
    <div class="float-end m-0 p-0 fw-bold">@ViewBag.Product.MatrixType</div>
</div>
<br />