@model MoonlightShadow.ViewModels.LoginViewModel;

<!-- Modal -->
<div class="modal fade" id="AbortResetPassword" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="abortResetPasswordLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="abortResetPasswordLabel">Resetowanie hasła nieudane</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Link aktywacyjny uległ wygaśnięciu. Spróbuj ponownie ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>