@model MoonlightShadow.ViewModels.LoginViewModel;

<!-- Modal -->
<div class="modal fade" id="ConfirmResetPasswordMailSend" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmResetPasswordMailSendLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmResetPasswordMailSendLabel" >Resetowanie hasła wymaga akceptacji</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hasło zostało wysłane na maila. Kliknij w link aktywacyjny, aby je aktywować.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>