@model MoonlightShadow.ViewModels.LoginViewModel;

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
  @Html.AntiForgeryToken()
  <!-- Modal -->
  <div class="modal fade" id="ResetPassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Resetuj hasło</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="mb-3 row">
            @Html.LabelFor(o => o.ResetPasswordViewModel.Email, new { @class="col-sm-4 col-form-label" })
            <div class="col-sm-8">
              @Html.TextBoxFor(o => o.ResetPasswordViewModel.Email, new { @class="form-control", @placeholder="email@example.com" })
              @Html.ValidationMessageFor(o => o.ResetPasswordViewModel.Email)
            </div>
          </div>
          
        <input id="TypeOfModel" name="TypeOfModel" type="hidden" value="ResetPasswordViewModel">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
          <button type="submit" class="btn btn-primary">Wyślij maila</button>
        </div>
      </div>
    </div>
  </div>
}