@model MoonlightShadow.ViewModels.Account.AccountViewModel;

<!-- Modal -->
<div class="modal fade" id="ConfirmUpdateShippingData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmUpdateShippingDataLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmUpdateShippingDataLabel">Dane do wysyłki</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Dane do wysyłki zostały pomyślnie wprowadzone
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>