<!-- Modal -->
<div class="modal fade" id="WaitingForPayment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="waitingForPaymentLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="waitingForPaymentLabel">Złożono zamówienie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        W mailu wysłaliśmy potwierdzenie złożenia zamówienia. Po zaksięgowaniu płatności wyślemy maila o dalszym etapie wysyłki.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
      </div>
    </div>
  </div>
</div>